.scroll-to-top {
    width: 7rem;
    position: fixed;
    bottom: 0;
    right: 0;
    background:pink;
}

/* ACCORDEON STYLES */
.accordion {
    max-width: 80%;
    margin: 2rem auto;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.accordion-item {
    margin: 1rem 0;
}

.accordion-item:nth-child(1) {
    padding-top: .5rem;
}

  @media only screen and (max-width: 1100px) {
    .accordion {
        max-width: 80%;
        /* margin: 2rem auto; */
    }
  }

  @media only screen and (max-width: 1100px) {
.accordion-item:nth-child(1) {
    padding-top: 0;
}
  }

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: .1px;
    cursor: pointer;
    background-color: #91d3e2;

}

@media only screen and (max-width: 800px) {
    .accordion-title {
        font-size: 1.1rem;
    }   
}

.accordion-title:hover {
    background-color: #3ab4cc;
}

.accordion-title,
.accordion-content {
    padding: 1rem;
    color: #000;
}

.accordion-content {
    line-height: 22px;
    background-color: #9fe3f0;
}

/* FORM FIELD ERRORS */
.loginForm {
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;;
}

.form {
    flex: 1;
    padding: 16px 45px 25px 45px;
    margin-right: 9rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.inputField {
    width: 25vw;
}

.label {
    margin-bottom: .2rem;
    font-size: 1rem;
    letter-spacing: .4px
}

.form-field-error { 
  color: red;
  margin: .25rem 0 0 0;
  font-weight: bold;
}

.field {
    font-size: 1.15rem;
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid;
    outline: none;
}

.submit-btn{
    margin-top: 1rem;
    padding: .65rem 2rem;
    font-size: 1.1rem;
    border: 1px solid;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.contact-layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 7rem;
}

.h1 {
    font-size: 3rem;
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

.contact-display {
    display: flex; 
    margin-top: 3rem;
}

.subheader {
    font-size: 2.25rem;
}

@media only screen and (max-width: 1100px) {
.contact-display {
    flex-direction: column;
    margin-top: 0;
}

.contact-layout {
    margin: 0 auto;
    padding: 0;
}

.subheader {
    font-size: 1.15rem;
}

.h1 {
    font-size: 1.5rem;
}

.form {
    flex: 1;
    padding: 16px 45px 25px 45px;
    margin-right: 9rem;
    border: 0;
    margin: 0 auto;
    border-radius: 5px;
}

.field {
    font-size: 1rem;
    width: 80vw;
    padding: .5rem;
    border-radius: 4px;
    border: 1px solid;
    outline: none;
}
}

.contact-font {
    font-family: 'Overpass', sans-serif;
}

.contact-linkedin {
    margin-top: 1rem;
    font-family: 'Overpass', sans-serif;
}

.confirm {
    color: green; 
    margin-bottom: .5rem;
}

.confirm-error {
    color: red; 
    margin-bottom: .5rem;
}